body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


#ccc {
    width: 100%;
    position: fixed;
    padding-top: 15px;
    z-index: 9999;
    #logo {
        font-size: 35px;
        font-weight: bold;
        span{
            color: #16a085;
        }
    }
    #menu {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin-top: 10px;
            .selected {
                color: #16a085;
            }
            li {
                margin-left: 35px;
               a { 
                   text-decoration: none;
                   color: #222222;
                   font-weight: bold;
                   &:hover {
                        color: #16a085;
                   }
                }
            }    
        }
    
}
.header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .Header-title{
        position: absolute;
        top: 50%;
    }
    
    
}
#section-1 {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 3em;

    .section_1_title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        h1{
            width: 50%;
           
            font-size: 4em;
            font-weight: 800;
            letter-spacing: 4px;
            color: #16a085;
            span{
                background-color: #16a085;
                color: #ffffff;
            }
        }
        .reverse_text {
            writing-mode: tb-rl;
            letter-spacing: 4px;
            border-right: 6px solid #16a085;
            font-size: 15px;
            text-transform: uppercase;
           
        }
       
    }
    .section_1_content {
        display: flex;
        justify-content: space-between;
        margin-top: 5em;
        div{
            width: 25%;
            overflow: hidden;
            .fa  {
                font-size: 3em;
                color: #16a085;
            }
           
        }
        
    }
}