body{
    margin: 0;
    padding: 0;
}


#ccc {
    width: 100%;
    position: fixed;
    padding-top: 15px;
    z-index: 9999;
    #logo {
        font-size: 35px;
        font-weight: bold;
        span{
            color: #16a085;
        }
    }
    #menu {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin-top: 10px;
            .selected {
                color: #16a085;
            }
            li {
                margin-left: 35px;
               a { 
                   text-decoration: none;
                   color: #222222;
                   font-weight: bold;
                   &:hover {
                        color: #16a085;
                   }
                }
            }    
        }
    
}
.header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .Header-title{
        position: absolute;
        top: 50%;
        span {
       
        // z-index: 9;
    }
       
    }
    
    
}